#initialInput {
    width:3em;
    text-align:center;
}

.progress-bar {
    transition: all 1s;
}

#progressBar .progress-bar {
    transition-timing-function: ease-in;
}

#timerBar .progress-bar{
    width: 100%;
    transition-timing-function: linear;
}

.progress {
    position: relative;
}

.barLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1ch;

}

.list-group-item {
    font-family: monospace;
}